* {
  margin: 0;
  padding: 0;
}
body {
  background: url(../img/207383780d6e14e9e0e6921d8ad8897a.jpg) no-repeat;
  background-size: cover;
}
body .box {
  padding-top: 150px;
  width: 1200px;
  margin: 0 auto;
}
body .box .search {
  text-align: center;
}
body .box .search .txt {
  width: 500px;
  height: 50px;
  font-size: 18px;
}
body .box .search .search_btn {
  width: 80px;
  height: 52px;
  font-size: 16px;
  vertical-align: middle;
}
body .box h1 {
  text-align: center;
}
body .box .eaditor {
  text-align: center;
  margin: 10px 0;
}
body .box h3 {
  text-align: center;
  margin-bottom: 10px;
}
body .box .shangxi {
  margin: 10px 0;
}
body .box #btn #up {
  float: left;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  background-color: #cff3ae;
}
body .box #btn #next {
  float: right;
  width: 100px;
  height: 45px;
  background-color: #dff095;
  border-radius: 5px;
}
